
.grid {
    display: grid;
    grid-template-columns: 1fr ifr;
}
.title {
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid div:nth-child(even) {
    background-color: red;
}
.grid div:nth-child(odd) {
    background-color: green;
} 
