font-family {@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=Roboto:wght@300&family=Splash&display=swap');
    :root {;>

}
#background {
    text-align: center;
    height:725px;
}
body {
    text-align: center;
    background-color: #8cc7e2;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.home-title {
    font-family: 'Martian Mono' 'Rock Salt';
    color: black;
}
header {
    background-color: #6b856c
}
h4 {
    color: black;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}
nav a:hover {
    background-color: dodgerblue;
    color: black;
}
.book {
    background-color: dodgerblue;
    color: black;
    text-decoration: none;
}
.join {
    background-color: blanchedalmond;
    color: black;
    text-decoration: none;
}
.book:hover {
    background-color: dodgerblue;
    color: black;
}
.join:hover{  
    background-color: dodgerblue;
    color: black;
}
icon {
    text-align: right;
    width: 80px;
}
logo {
     width: 80px;
}
footer {
    background-color: antiquewhite;
    color: black;
}
footer a {
    text-align: center;
    color: black;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
}
main section {
    text-align: center;
    width: auto;
}
#hero img {
    text-align: center;
    width: 100%;
    }
#hero-msg h1 {
    text-align: center;
}
.msg {
    background-color: #8cc7e2;
}





